body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #131313;
    overflow-x: hidden;
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#generateHexagram {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    

    z-index: 10;
    position: relative;
    /* Position the button at the top center beneath the h1 */
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

button:hover {
    background-color: darken(#090911, 10%); /* Slightly darker on hover */
}

div {
    margin-bottom: /*20px */ 2px;
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #c0c0c0;
}

#hexagramsContainer {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap in smaller screens */
    justify-content: space-around;
    gap: 20px; /* Adds some space between the hexagrams */
}

.hexagram {
    flex-basis: calc(50% - 20px); /* Adjust the size minus the gap */
    min-height: 400px; /* Set a minimum height */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #c0c0c0;
    color: #333333;

    min-height: 132px;
    width: 100%;

    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Optional: adds some shadow for depth */
    
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

@media (max-width: 768px) {
    .hexagram {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}

.line-placeholder {
    height: 20px;
    width: 100px;
    background-color: transparent;
    margin: 10px 0;
}

h2 {
    color: #333333; /* Accent color for headings */
}

#originalText, #transformedText {
    width: 80%;

}

.line-svg {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.line-svg:hover {
    /* Example hover effect */
    background-color: #c7c7c7;
}

.changing object {
    /* This horrid combination changes the changing line's color to red */
    filter: invert(35%) sepia(100%) saturate(7500%) hue-rotate(-10deg) brightness(100%) contrast(100%); 
}

.hex-line-svg {
    width: 100px; 
    height: 20px; 
    display: block; 
}

.svgContainer {
    position: relative;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0; /* Start with the tooltip fully transparent */
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Smooth transition for opacity */

    top: -10px; /* Adjust as needed to position the tooltip above or next to the line */
    left: 100%; /* Adjust if you want the tooltip to appear to the right of the line */
    transform: translateX(10px); /* Gives some space between the line and the tooltip */
    white-space: nowrap; /* Keeps the tooltip text on a single line; adjust as needed */
    
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    z-index: 100; /* Ensures the tooltip is above other content */
    

    

}

.tooltip.visible {
    visibility: visible; /* Show on hover */
    opacity: 1;
    transition-delay: 0s;
}


.line-svg:hover .tooltip {
    visibility: visible; /* Show on hover */
}