body {
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
    border: none;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    border-radius: 5px;
    /* position the button at the bottom of the page */
    position: fixed;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
    
}

div {
    margin-bottom: /*20px */ 2px;
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#hexagramsContainer {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap in smaller screens */
    justify-content: space-around;
    gap: 20px; /* Adds some space between the hexagrams */
}

.hexagram {
    flex-basis: calc(50% - 20px); /* Adjust the size minus the gap */
    min-height: 400px; /* Set a minimum height */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds some shadow for depth */
    
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

@media (max-width: 768px) {
    .hexagram {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}
/*
.originalHexagram {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.transformedHexagram {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
*/

#originalText, #transformedText {
    width: 80%;

}

.line-svg:hover {
    /* Example hover effect */
    background-color: #f0f0f0;
}

.changing object {
    /* This horrid combination changes the changing line's color to red */
    filter: invert(35%) sepia(100%) saturate(7500%) hue-rotate(-10deg) brightness(100%) contrast(100%); 
}

.hex-line-svg {
    width: 100px; 
    height: 20px; 
    display: block; 
}

.svgContainer {
    position: relative;
}

.tooltip {
    position: absolute;
    top: -10px; /* Adjust as needed to position the tooltip above or next to the line */
    left: 100%; /* Adjust if you want the tooltip to appear to the right of the line */
    transform: translateX(10px); /* Gives some space between the line and the tooltip */
    white-space: nowrap; /* Keeps the tooltip text on a single line; adjust as needed */
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    z-index: 100; /* Ensures the tooltip is above other content */
    
    transition: visibility 0s, opacity 0.5s linear;

}


.line-svg:hover .tooltip {
    visibility: visible; /* Show on hover */
}